body{
  margin: 5em;
  background-color: lightcyan;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style: none;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: thick solid black;
}

footer > p{
  margin: 0;
}


h1 > span{
  display: block;
  color: grey;
  font-style: italic;
}

a{
  font-weight: bold;
  text-decoration: none;
}

footer img{
  height: 15px;
  width: 15px;
}

header ul{
  border-bottom: thin solid black;
  background-color: lightblue;
}

h1{
  border-bottom: thick solid black;
}

aside{
  background-color: lightblue;
  border-radius: 10px;
}